body
{

    margin: 0;
    padding: 0;
    background: #eeffee;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;

}

#login-box
{

    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 2px;
    background-color: #2fb90c;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha);

}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{

    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;


}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaaaaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;

}

input[type="submit"]
{
    margin-bottom: 20px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{

     background: #ff5722;
     transition: 0.2s ease;
    }

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 400px;
    width: 300px;
    height: 400px;
    background-image: url(https://previews.123rf.com/images/blueskyimage/blueskyimage1409/blueskyimage140900242/31664714-three-kids-using-computer-on-white-background-nice-children-playing-with-laptop-and-smiling.jpg);
    background-size: cover;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #eeffee;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(red, green, blue, alpha);
}


button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook
{

    background: #32508e;
}
.twitter
{
    background: #55acee;
}
.google
{
    background: #dd4b39;
}